.vs/
AdminWF/bin/
AdminWF/obj/
AdminWF/Properties/
BLL/bin/
BLL/obj/
BLL/Properties/
BLLTests/bin/
BLLTests/obj/
BLLTests/Properties/
CoursePrConsole/bin/
CoursePrConsole/obj/
CoursePrConsole/Properties/
DAL/bin/
DAL/obj/
DAL/Properties/
DALTests/bin/
DALTests/obj/
DALTests/Properties/
DTO/bin/
DTO/obj/
DTO/Properties/
packages/
